html(lang='pt-br')
  head
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css')
    
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.5/angular-locale_pt-br.min.js')
    script(src='js/cep.js')

  body
    md-content(ng-controller='AppCtrl as ctrl', ng-app='BlankApp')
      md-card
        md-card-title
          md-card-title-text
            span.md-headline Cadastro de Código Postal
            //span.md-subhead ...... .... ....
        md-card-content

          div(layout-gt-sm='row')
            md-input-container
              label CEP
              input(ng-model='cep', ui-cep)
            md-autocomplete(
              md-selected-item='SelEst',
              md-min-length='1', 
              md-search-text='SearchEst', 
              md-items='item in QueryEst(SearchEst)',
              md-floating-label='Estado',
              md-item-text='item.nome')
              md-item-template
                span(md-highlight-text='SearchEst') {{item.nome}}
            md-autocomplete(
              md-selected-item='SelCid',
              md-min-length='3', 
              md-search-text='SearchCid', 
              md-items='item in QueryCid(SearchCid)',
              md-floating-label='Cidade',
              md-item-text='item.nome')
              md-item-template
                span(md-highlight-text='SearchCid') {{item.nome}}
          
          div(layout-gt-sm='row')
            md-autocomplete(
              md-selected-item='SelBai',
              md-min-length='4', 
              md-search-text='SearchBai', 
              md-items='item in QueryBai(SearchBai)',
              md-floating-label='Bairro',
              md-item-text='item.nome')
              md-item-template
                span(md-highlight-text='SearchBai') {{item.nome}}
            md-autocomplete(
              md-selected-item='SelEnd',
              md-min-length='4', 
              md-search-text='SearchEnd', 
              md-items='item in QueryEnd(SearchEnd)',
              md-floating-label='Endereço',
              md-item-text='item.nome')
              md-item-template
                span(md-highlight-text='SearchEnd') {{item.nome}}
            md-input-container
              label Complemento
              input(type='text')

          div(layout='row', layout-align='start', flex='')
            md-button.md-raised.md-primary(ng-click='processar()') Processar